<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="images/T.png">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <h3>Tarik-Pe-Tarik...</h3>
            <ul class="nav-links">
                <li><a href="/dashboard">Dashboard</a></li>   
                <li><a href="/logout">Logout</a></li>   
            </ul>
        </nav>
    </header>
    <form action="/events/add" method="POST" class="form-main">
        <div>
            {{#if error}}
            <p class="err-msg-main">{{error}}</p>
            {{/if }}
            <h1>ADD EVENT</h1>
	    </div>

        <div class="form-group-main">
            <label for="name">Event:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group-main">
            <label for="eligibility">Criteria:</label>
            <input type="text" id="eligibility" name="eligibility">
        </div>
        <div class="form-group-main">
            <label for="mode">Mode:</label>
            <input type="text" name="mode" id="mode">
        </div>
        <div class="form-group-main">
            <label for="registrationDate">Reg.Date:</label>
            <input type="date" id="registrationDate" name="registrationDate">
        </div>
        <div class="form-group-main">
            <label for="testDate">Test Date:</label>
            <input type="date" id="testDate" name="testDate">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    {{> _footer}}
</body>
</html>