    <header>
        <nav class="nav-bar">
            <h3>Tarik-Pe-Tarik...</h3>
            <ul class="nav-links">
                <li><a href="/login">Login</a></li>   
            </ul>
        </nav>
    </header>