    <header>
        <h3>Tarik-Pe-Tarik...</h3>
        <nav class="login">
            <ul class="nav-links">
                <li><a href="/login">Login</a></li>   
            </ul>
        <nav>
    </header>